/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styles */
.container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.slider{
    position: relative;
    height: 50%;
    width: 60%;
    margin: 0 auto;
}
.item{
    display: none;
}
#items-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.active{
    display: block;
}
button{
    position: absolute;
    padding: 1rem;
    right: 3%;
    top:50%;
    transform: translate(0,-50%);
}